
@{
    ViewData["Title"] = "Index";
}

<h2>Select City to view the weather:</h2>
<div>
    @Html.DropDownList("City", (SelectList)ViewData["City"])

    <button id="btnSubmit">Get Weather</button>
</div>

<div>

    <table>
        <tr>
            <td>
                <img id="imgWeatherIconUrl" src="@ViewData["Icon"]" title="Weather Icon" />
                @ViewData["Description"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Temperature: </strong>
                @ViewData["Temperature"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Humidity: </strong>
                @ViewData["Humidity"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Wind speed: </strong>
                @ViewData["WindSpeed"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Wind direction: </strong>
                @ViewData["WindDirection"]
            </td>
        </tr>

    </table>
</div>

<script>
    var City = JSON.parse()
    {
        "BD": "Bangladesh",
        "BE": "Belgium",
        "BF": "Burkina Faso",
        "BG": "Bulgaria",
        "BA": "Bosnia and Herzegovina"
    }
    var strInnerHTML = "";
    $.each(Country, function( index, value ) {
        strInnerHTML +='<option value="'+index+'">'+value+'</option>';
    });
    document.getElementById('opt_country').innerHTML = strInnerHTML;
</script>

