@using Microsoft.Data.SqlClient

@{
    ViewData["Title"] = "Index";
}

<h2>Select City to view the weather:</h2>
<div>
    @Html.DropDownList("City", (SelectList)ViewData["City"],
        new { onchange = "this.form.submit();" })

</div>

<div>

    <table>
        <tr>
            <td>
                <img id="imgWeatherIconUrl" src="@ViewData["Icon"]" title="Weather Icon" />
                @ViewData["Description"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Temperature: </strong>
                @ViewData["Temperature"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Humidity: </strong>
                @ViewData["Humidity"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Wind speed: </strong>
                @ViewData["WindSpeed"]
            </td>
        </tr>

        <tr>
            <td>
                <strong>Wind direction: </strong>
                @ViewData["WindDirection"]
            </td>
        </tr>

    </table>
</div>




