
@{
    ViewData["Title"] = "ShowWeather";
}
@model SECO_Weather.Models.DTO

<div>
    <span style="color : red">@(ViewData["Error"] != null ? ViewData["Error"]: "")</span>
    <table>
        <tr>
            <td>
                <img id="imgWeatherIconUrl" src="@(ViewData["Error"] != null ? "-" : @Model.weather[0].icon)" title="Weather Icon" />
                @(ViewData["Error"] != null ? "-" : @Model.weather[0].description)
            </td>
        </tr>

        <tr>
            <td>
                <strong>Temperature: </strong>
                @(ViewData["Error"] != null ? "-" : @Model.main.temp.ToString() + "°")
            </td>
        </tr>

        <tr>
            <td>
                <strong>Humidity: </strong>
                @(ViewData["Error"] != null ? "-" : @Model.main.humidity.ToString() + " %")
            </td>
        </tr>

        <tr>
            <td>
                <strong>Wind speed: </strong>
                @(ViewData["Error"] != null ? "-" : @Model.wind.speed.ToString() + " m/s")
            </td>
        </tr>

        <tr>
            <td>
                <strong>Wind direction: </strong>
                @(ViewData["Error"] != null ? "-" : @Model.wind.deg.ToString() + "°")
            </td>
        </tr>

    </table>
</div>

